######################
# My credential file #
######################

# User and supercomputer
user_name=MaxPower
supercomputer=mn1.bsc.es
#  - In windows, use session instead of user_name and supercomputer.
#    Requires that the user specifies the user_name, supercomputer and
#    ssh passwordless within the putty session configuration.
# session=mn4

# Port forward configuration
port_forward=4444

# Local parameters
web_browser=firefox
no_web_browser=False
