###################
# My project file #
###################

# Notebook
# notebook_path=/remote/path/to/notebook/  # If undefined, uses HOME

# Job parameters
exec_time=10
job_name=my_job
num_nodes=1
qos=debug
log_level=off
tracing=False
classpath=.
pythonpath=.

storage=None
# storage_home=TBD
# storage_props=TBD