################################
## STRUCTURE VARIABLES
################################
QUEUE_SYSTEM="slurm" #from queues/

################################
## ENQUEUE_COMPSS VARIABLES
################################
DEFAULT_EXEC_TIME=10
DEFAULT_NUM_NODES=2
DEFAULT_NUM_SWITCHES=0
MAX_NODES_SWITCH=18
MIN_NODES_REQ_SWITCH=4
DEFAULT_QUEUE=default
DEFAULT_MAX_TASKS_PER_NODE=-1
DEFAULT_CPUS_PER_NODE=56
DEFAULT_GPUS_PER_NODE=0
DEFAULT_WORKER_IN_MASTER_CPUS=0
DEFAULT_WORKER_IN_MASTER_MEMORY=disabled
DEFAULT_MASTER_WORKING_DIR=.
DEFAULT_WORKER_WORKING_DIR=scratch
DEFAULT_NETWORK=infiniband
DEFAULT_DEPENDENCY_JOB=None
DEFAULT_RESERVATION=disabled
DEFAULT_NODE_MEMORY=disabled
DEFAULT_JVM_MASTER=""
DEFAULT_JVM_WORKERS=""
DEFAULT_JVM_WORKER_IN_MASTER=""
DEFAULT_QOS=default
DEFAULT_CONSTRAINTS=disabled

################################
## Enabling/disabling passing 
## requirements to queue system
################################
DISABLE_QARG_MEMORY=false
DISABLE_QARG_CONSTRAINTS=true
DISABLE_QARG_QOS=true

################################
## SUBMISSION VARIABLES
################################
MINIMUM_NUM_NODES=1
MINIMUM_CPUS_PER_NODE=1

################################
## LAUNCH VARIABLES
################################
TMPDIR="/tmp"
REMOTE_EXECUTOR="ssh"
NETWORK_INFINIBAND_SUFFIX="-ib0"
NETWORK_DATA_SUFFIX=""
GPFS_PREFIX="/mnt/lustre"
GPFS2_PREFIX=""
DEFAULT_NODE_MEMORY_SIZE=20
MASTER_NAME_CMD=hostname
