################################
## SUBMISSION VARIABLES
################################
QUEUE_CMD="$"
SUBMISSION_CMD="qsub"
SUBMISSION_PIPE="<"
ENV_VAR_JOB_ID="JOB_ID"
ENV_VAR_NODE_LIST="PE_HOSTFILE"

QUEUE_SEPARATOR=""
EMPTY_WC_LIMIT=":00"

QARG_JOB_NAME="-N "
QARG_JOB_DEP_INLINE="false"
QARG_JOB_DEPENDENCY_OPEN="-hold_jid "
QARG_JOB_DEPENDENCY_CLOSE=""

QARG_JOB_OUT="-o"
QARG_JOB_ERROR="-e"
QARG_WD="-wd "
QARG_WALLCLOCK="-l h_rt="

QARG_NUM_NODES="" 
QARG_NUM_PROCESSES="-pe $SGE_PE "
QARG_EXCLUSIVE_NODES="-l exclusive"
QARG_COPY_ENV="-V"
QARG_SPAN=""

QARG_MEMORY="-l mem_free="
QARG_QUEUE_SELECTION="-q"
QARG_NUM_SWITCHES="-l switches="
QARG_GPUS_PER_NODE="-l gpu="
QARG_RESERVATION="-reservation="
QJOB_ID=\$JOB_ID
QNUM_PROCESSES_VALUE="\$(expr \$num_nodes \* \${req_cpus_per_node})"
################################
## LAUNCH VARIABLES
################################
LAUNCH_CMD="qrsh -V -v LD_LIBRARY_PATH=\$LIBRARY_PATH -inherit"
LAUNCH_PARAMS=""
LAUNCH_SEPARATOR=""
CMD_SEPARATOR=""
HOSTLIST_CMD="cat"
HOSTLIST_TREATMENT="| awk {' print \$1 '} | sed -e 's/\.[^\ ]*//g'"
