Package: compss-tools
Version: 
Priority: optional
Architecture: amd64
Essential: no
Depends: compss-extrae, compss-monitor
Maintainer: COMPSs Support <support-compss@bsc.es>
Description: The BSC COMP Superscalar Tools.
