#######################
# My credentials file #
#######################

# User and supercomputer
user_name=MaxPower
supercomputer=mn3.bsc.es
port_forward=4444

# Local parameters
web_browser=firefox
