# Git
.git*
submodules_get.sh

# IDE
.idea
.vscode
*.swp
*.swo
*~

# Java
**/*.class
**/*.jar
**/target

# Python
**/__pycache__
**/*.py[cod]
**/*.so

# Docker
**/*Dockerfile
**/.dockerignore
**/*.hcl

# Project
builders/packages
builders/**/tmp
compss/programming_model/bindings/RCOMPSs
dependencies/dlb
dependencies/extrae
dependencies/kafka
dependencies/threadpoolctl
performance_analysis
tests