[submodule "dependencies/pluto"]
	path = dependencies/pluto
	url = https://github.com/cristianrcv/pluto.git
	ignore = untracked
[submodule "dependencies/autoparallel"]
	path = dependencies/autoparallel
	url = https://github.com/cristianrcv/pycompss-autoparallel.git
	ignore = untracked
[submodule "dependencies/extrae"]
	path = dependencies/extrae
	url = https://github.com/bsc-wdc/extrae.git
	branch = compss_modifications

[submodule "kafka"]
	path = dependencies/kafka
	url = https://github.com/apache/kafka.git
[submodule "shared-array"]
	path = dependencies/shared-array
	url = https://gitlab.com/cerl/third-party-contributions/shared-array.git
