# Ignore maven files
dependency-reduced-pom.xml

# Ignore JAXB files
compss/runtime/config/xml/monitor/src/main/
compss/runtime/config/xml/projects/src/main/java/META-INF/
compss/runtime/config/xml/projects/src/main/java/es/bsc/compss/types/project/jaxb/
compss/runtime/config/xml/resources/src/main/java/META-INF/
compss/runtime/config/xml/resources/src/main/java/es/bsc/compss/types/resources/jaxb/

# Ignore eclipse files
.classpath
.settings/
.project

# Ignore IntelliJ files
.idea/
*.iml

# ========== Java ignores =================


 # Compiled class file
 *.class

 # Package Files #
 *.jar
 *.war
 *.ear
 *.zip
 *.tar.gz
 *.rar

 # virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
 hs_err_pid*


# ========== Python ignores =================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints



# ========== C & C++ ignores =================
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.slo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Fortran module files
*.mod
*.smod
