# Ignore java compiled folders
target/
*.jar

# Ignore maven files
dependency-reduced-pom.xml

# Ignore JAXB files
compss/runtime/config/xml/monitor/src/main/
compss/runtime/config/xml/projects/src/main/java/META-INF/
compss/runtime/config/xml/projects/src/main/java/es/bsc/compss/types/project/jaxb/
compss/runtime/config/xml/resources/src/main/java/META-INF/
compss/runtime/config/xml/resources/src/main/java/es/bsc/compss/types/resources/jaxb/

# Ignore eclipse files
.classpath
.settings/
.project

# Ignore IntelliJ files
.idea/

