[submodule "kafka"]
	path = dependencies/kafka
	url = https://github.com/apache/kafka.git
[submodule "dependencies/dlb"]
	path = dependencies/dlb
	url = https://gitlab.pm.bsc.es/dlb/dlb.git
	branch = main
[submodule "dependencies/threadpoolctl"]
	path = dependencies/threadpoolctl
	url = https://github.com/joblib/threadpoolctl.git
[submodule "compss/programming_model/bindings/RCOMPSs"]
	path = compss/programming_model/bindings/RCOMPSs
	url = https://github.com/stsds/RCOMPSs
