Package: compss-storage
Version: 
Priority: optional
Architecture: amd64
Essential: no
Depends: compss-engine
Maintainer: COMPSs Support <support-compss@bsc.es>
Description: COMPSs Storage Implementations Module
