Package: compss-runtime
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-engine, compss-worker
Maintainer: COMPSs Support <support-compss@bsc.es>
Description: The BSC COMP Superscalar Runtime.
