Package: compss-monitor
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-engine, openjdk-7-jdk
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar Monitor Tool.
