Package: compss-cloud
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-engine
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar Runtime Cloud Resources.
