################################
## STRUCTURE VARIABLES
################################
QUEUE_SYSTEM="slurm" #from queues/ referrs to file

################################
## ENQUEUE_COMPSS VARIABLES
################################
DEFAULT_EXEC_TIME=10
DEFAULT_NUM_NODES=2
DEFAULT_NUM_SWITCHES=0
MAX_NODES_SWITCH=18
MIN_NODES_REQ_SWITCH=4
DEFAULT_QUEUE=rome
DEFAULT_MAX_TASKS_PER_NODE=-1
DEFAULT_CPUS_PER_NODE=128
DEFAULT_FORWARD_CPUS_PER_NODE="true"
DEFAULT_IO_EXECUTORS=0
DEFAULT_GPUS_PER_NODE=0 # < set it for GPU partition
DEFAULT_FPGAS_PER_NODE=0
DEFAULT_WORKER_IN_MASTER_CPUS=100 # 28 for master
DEFAULT_WORKER_IN_MASTER_MEMORY=200 # memory for workers in the master, less than whole node
DEFAULT_JOB_EXECUTION_DIR=$PWD
DEFAULT_WORKER_WORKING_DIR=$PWD # using shared folder for communication local_disk
DEFAULT_NETWORK=infiniband
DEFAULT_DEPENDENCY_JOB=None
DEFAULT_RESERVATION=disabled
DEFAULT_NODE_MEMORY=disabled
DEFAULT_JVM_MASTER="-Dcom.sun.xml.bind.v2.bytecode.ClassTailor.noOptimize=true"
DEFAULT_JVM_WORKERS="-Xms16000m,-Xmx92000m,-Xmn1600m,-Dcom.sun.xml.bind.v2.bytecode.ClassTailor.noOptimize=true"
DEFAULT_JVM_WORKER_IN_MASTER="-Dcom.sun.xml.bind.v2.bytecode.ClassTailor.noOptimize=true"
DEFAULT_QOS=default
DEFAULT_CONSTRAINTS=disabled
DEFAULT_LICENSES=disabled
DEFAULT_NODE_MEMORY_SIZE=224
DEFAULT_NODE_STORAGE_BANDWIDTH=450


################################
## Enabling/disabling passing
## requirements to queue system
################################
DISABLE_QARG_MEMORY=true
DISABLE_QARG_CONSTRAINTS=false
DISABLE_QARG_LICENSES=true
DISABLE_QARG_QOS=true
DISABLE_QARG_OVERCOMMIT=true
DISABLE_QARG_CPUS_PER_TASK=false
DISABLE_QARG_NVRAM=true
HETEROGENEOUS_MULTIJOB=false
ENABLE_PROJECT_NAME=false # needed when project is required on submission

################################
## SUBMISSION VARIABLES
################################
MINIMUM_NUM_NODES=1
MINIMUM_CPUS_PER_NODE=1
DEFAULT_STORAGE_HOME="null"
DISABLED_STORAGE_HOME="null"

################################
## LAUNCH VARIABLES
################################
# LOCAL_DISK_PREFIX="/scratch/tmp"
LOCAL_DISK_PREFIX=""
REMOTE_EXECUTOR="none"
NETWORK_INFINIBAND_SUFFIX="-ib0" # < Todo: check this, not the same as hostname
NETWORK_DATA_SUFFIX=""
SHARED_DISK_PREFIX="/gpfs/"   # uses realpath to determine the shared file system
SHARED_DISK_2_PREFIX="/home/"
MASTER_NAME_CMD="hostname -s"
ELASTICITY_BATCH=false # slurm can request more nodes for job
LAUNCH_EXTRA_FLAGS=" --overlap --mem=0 " # srun arguments
