#ParaverCFG
ConfigFile.Version: 3.2
ConfigFile.NumWindows: 1
begin_description
Recv Bandwidth (MB/s)

Equivalent bandwidth observed by each thread. Bytes he is in the process of receiving divided by time form send to reception.

end_description

################################################################################
< NEW DISPLAYING WINDOW Recv bandwidth (MB/s) per thread >
################################################################################
window_name Recv bandwidth (MB/s) per thread
window_type single
window_id 1
window_position_x 77
window_position_y 234 
window_width 600 
window_height 115
window_logical_filtered true
window_physical_filtered false
window_comm_lines_enabled false
window_send_icon_enabled false
window_recv_icon_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_units Microseconds
window_maximum_y 75.117346
window_minimum_y 0.000000
window_level thread
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_scale_relative 1.0
window_selected_objects thread { 16, { 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 } }
window_selected_functions { 13, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Recv BandWidth}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {evt_type, All}, {evt_value, All} } }
window_semantic_module cpu Active Thd Val { 1, { 1 1.000000 } }
window_semantic_module cpu Active Thd Val Sign { 1, { 1 1.000000 } }
window_semantic_module appl Add Tasks { 1, { 1 1.000000 } }
window_semantic_module appl Activity { 1, { 1 1.000000 } }
window_semantic_module appl In Activity { 1, { 1 1.000000 } }
window_semantic_module task Thread i { 1, { 1 1.000000 } }
window_semantic_module task Activity { 1, { 1 1.000000 } }
window_semantic_module task In Activity { 1, { 1 1.000000 } }
window_semantic_module thread Given State { 1, { 1 1.000000 } }
window_semantic_module thread In State { 1, { 1 1.000000 } }
window_semantic_module thread Not In State { 1, { 1 1.000000 } }
window_semantic_module thread State Record Dur. { 1, { 1 1.000000 } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1.000000 } }
window_semantic_module thread Given Evt Val { 1, { 1 1.000000 } }
window_semantic_module thread In Evt Val { 1, { 1 1.000000 } }
window_semantic_module thread Not In Evt Val { 1, { 1 1.000000 } }
window_semantic_module thread In Evt Range { 2, { 1 1000.000000, 1 1.000000 } }
window_semantic_module thread Event BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1.000000 } }
window_semantic_module thread In Thread ID { 1, { 1 1.000000 } }
window_semantic_module thread In Task ID { 1, { 1 1.000000 } }
window_semantic_module thread In Appl ID { 1, { 1 1.000000 } }
window_semantic_module thread In Cpu ID { 1, { 1 1.000000 } }
window_semantic_module thread In Node ID { 1, { 1 1.000000 } }
window_semantic_module node Activity { 1, { 1 1.000000 } }
window_semantic_module node In Activity { 1, { 1 1.000000 } }
window_semantic_module system Activity { 1, { 1 1.000000 } }
window_semantic_module system In Activity { 1, { 1 1.000000 } }
window_semantic_module workload Activity { 1, { 1 1.000000 } }
window_semantic_module workload In Activity { 1, { 1 1.000000 } }
window_compose_functions { 2, { {compose1, As Is}, {compose2, As Is} } }
window_semantic_module compose1 Mod+1 { 1, { 1 9223372036854775808.000000 } }
window_semantic_module compose1 Mod { 1, { 1 9223372036854775808.000000 } }
window_semantic_module compose1 Div { 1, { 1 1.000000 } }
window_semantic_module compose1 Prod { 1, { 1 0.000000 } }
window_semantic_module compose1 Subs { 1, { 1 0.000000 } }
window_semantic_module compose1 Select Range { 2, { 1 9223372036854775808.000000, 1 0.000000 } }
window_semantic_module compose1 Is In Range { 2, { 1 9223372036854775808.000000, 1 0.000000 } }
window_semantic_module compose1 Is Equal { 1, { 1 1.000000 } }
window_semantic_module compose1 Is Equal (Sign) { 1, { 1 1.000000 } }
window_semantic_module compose1 In Stacked Val { 1, { 1 1.000000 } }
window_semantic_module compose2 Mod+1 { 1, { 1 9223372036854775808.000000 } }
window_semantic_module compose2 Mod { 1, { 1 9223372036854775808.000000 } }
window_semantic_module compose2 Div { 1, { 1 1.000000 } }
window_semantic_module compose2 Prod { 1, { 1 0.000000 } }
window_semantic_module compose2 Subs { 1, { 1 0.000000 } }
window_semantic_module compose2 Select Range { 2, { 1 9223372036854775808.000000, 1 0.000000 } }
window_semantic_module compose2 Is In Range { 2, { 1 9223372036854775808.000000, 1 0.000000 } }
window_semantic_module compose2 Is Equal { 1, { 1 1.000000 } }
window_semantic_module compose2 Is Equal (Sign) { 1, { 1 1.000000 } }
window_semantic_module compose2 In Stacked Val { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_begin_time_relative 0.0
window_pos_to_disp 562
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 16
window_click_options 1 0 1 0 0 0
window_click_info 1 4163221536 4567417800 53 4365319668
window_expanded false
window_open false
window_scrollbar false
