Package: compss-worker
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: openjdk-8-jdk
Replaces: compss-engine
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar Worker.
