Package: compss-bindings-common
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-engine, libtool, automake, build-essential
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The C libraries shared by BSC COMP Superscalar Bindings.
