[Unit]
Description=Run COMPSs CI Docker cleanup hourly

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
