include pycompss_cli/assets/runcompss_args.txt
include pycompss_cli/assets/enqueue_compss_args.txt

include LICENSE.txt
include MANIFEST.in
include README.rst
include VERSION.txt
include requirements.txt
include setup.py

global-exclude *.pyc
global-exclude *.class
