#ParaverCFG
ConfigFile.Version: 3.4
ConfigFile.NumWindows: 5
ConfigFile.BeginDescription

ConfigFile.EndDescription
CFG4D_ENABLED

################################################################################
< NEW DISPLAYING WINDOW pyCOMPSs Tasks >
################################################################################
window_name pyCOMPSs Tasks
window_type single
window_id 1
window_position_x 277
window_position_y 52
window_width 600
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_custom_color_enabled false
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 18.000000000000
window_minimum_y 0.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 8000000
window_filter_module evt_type_label 1 "Task"


################################################################################
< NEW DISPLAYING WINDOW Phases  Inside tasks >
################################################################################
window_name Phases  Inside tasks
window_type single
window_id 2
window_position_x 277
window_position_y 210
window_width 600
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_custom_color_enabled false
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Nanoseconds
window_maximum_y 25.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 9000100
window_filter_module evt_type_label 1 "Binding events inside tasks"


################################################################################
< NEW DISPLAYING WINDOW Instructions.c1 >
################################################################################
window_name Instructions.c1
window_type single
window_id 3
window_position_x 300
window_position_y 54
window_width 600
window_height 114
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_custom_color_enabled false
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 452325811792.000000000000
window_minimum_y 10078.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.181793000000
window_end_time_relative 1.181793000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 42000050
window_filter_module evt_type_label 1 "PAPI_TOT_INS [Instr completed]"


################################################################################
< NEW DISPLAYING WINDOW Useful.c1 >
################################################################################
window_name Useful.c1
window_type single
window_id 4
window_position_x 354
window_position_y 108
window_width 600
window_height 147
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_custom_color_enabled false
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 1.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.054631000000
window_end_time_relative 1.054631000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Useful}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }


################################################################################
< NEW DISPLAYING WINDOW Useful instructions >
################################################################################
window_name Useful instructions
window_type composed
window_id 5
window_factors 1.000000000000 1.000000000000
window_operation product
window_identifiers 3 4
window_position_x 408
window_position_y 162
window_width 600
window_height 114
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_custom_color_enabled false
window_semantic_scale_min_at_zero false
window_units Microseconds
window_maximum_y 452325811792.000000000000
window_minimum_y 10078.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.181793000000
window_end_time_relative 1.181793000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 0
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

cfg4d Semantic Maximum|Max. useful instructions:
cfg4d Semantic Minimum|Min. useful instructions.

< NEW ANALYZER2D >
Analyzer2D.Name: 3DP - tasks - phase
Analyzer2D.X: 952
Analyzer2D.Y: 59
Analyzer2D.Width: 600
Analyzer2D.Height: 171
Analyzer2D.ControlWindow: 1
Analyzer2D.DataWindow: 3
Analyzer2D.Accumulator: Semantic
Analyzer2D.Statistic: Sum bursts
Analyzer2D.CalculateAll: True
Analyzer2D.HideCols: False
Analyzer2D.HorizVert: Horizontal
Analyzer2D.Color: True
Analyzer2D.SemanticColor: True
Analyzer2D.Zoom: Enabled
Analyzer2D.SortCols: False
Analyzer2D.SortCriteria: Average
Analyzer2D.SortReverse: False
Analyzer2D.Parameters: 4 -179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368.000000000000 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368.000000000000 -179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368.000000000000 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368.000000000000
Analyzer2D.AnalysisLimits: Alltrace
Analyzer2D.ComputeYScale: True
Analyzer2D.ComputeYScaleZero: False
Analyzer2D.Minimum: 1.000000000000
Analyzer2D.Maximum: 14.000000000000
Analyzer2D.Delta: 1.000000000000
Analyzer2D.ComputeGradient: True
Analyzer2D.MinimumGradient: 11145102.000000000000
Analyzer2D.MaximumGradient: 575896059427.000000000000
Analyzer2D.Objects: All
Analyzer2D.DrawModeObjects: draw_maximum
Analyzer2D.DrawModeColumns: draw_maximum
Analyzer2D.PixelSize: 1
Analyzer2D.ColorMode: window_in_gradient_mode
Analyzer2D.ShowOnlyTotals: False
Analyzer2D.ShortHeaderLabels: True
Analyzer2D.3D_ControlWindow: 2
Analyzer3D.ComputeYScale: True
Analyzer2D.3D_Minimum: 1.000000000000
Analyzer2D.3D_Maximum: 25.000000000000
Analyzer2D.3D_Delta: 1.000000000000
Analyzer2D.3D_FixedValue: 6.000000000000

cfg4d 3D.Plane|in phase:
cfg4d Data.Window|... of :
cfg4d Maximum Gradient|Max. stats coloring:
cfg4d Minimum Gradient|Min. stats coloring:
cfg4d Statistic|Statistic
cfg4dstatistic # Bursts|# tasks:
cfg4dstatistic % Window Time|% Time
cfg4dstatistic Average Burst Time|Average task duration
cfg4dstatistic Average per Burst|Average per task of ...
cfg4dstatistic Average value|Average of ...
cfg4dstatistic Maximum|Maximum of ...
cfg4dstatistic Minimum|Minimum of ...
cfg4dstatistic Sum bursts|Total of ...
cfg4dstatistic Time|Time

