Package: compss-extrae
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-engine, automake, libtool, libboost-all-dev, gfortran
Suggests: papi-tools, libpapi-dev
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: Extrae trace extraction tool.
