Package: compss-pluto
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-engine, compss-python-binding, automake, libtool
Maintainer: COMPSs Support <support-compss@bsc.es>
Description: PLUTO tool for autoparallelization.
