Package: compss-runtime
Version: 
Priority: optional
Architecture: amd64
Essential: no
Depends: compss-engine, compss-worker
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar Runtime.
