Package: compss-bindings
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-bindings-common, compss-c-binding, compss-python-binding
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar Bindings.
