Package: compss-engine
Version: 
Priority: optional
Architecture: amd64
Essential: no
Depends: openjdk-8-jre, graphviz, xdg-utils, uuid-runtime
Replaces: compss-worker
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar Engine.
