Package: compss-c-binding
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: compss-bindings-common, libboost-all-dev, libxml2-dev, csh
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar C binding.
