/INSTALL
/Makefile
/Makefile.in
/acinclude.m4
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/gsstubgen
/libtool
/ltmain.sh
/missing
/stamp-h.in
/stamp-h1
/ylwrap
/.deps
/install-sh
