Package: compss-cloud
Version: 
Priority: optional
Architecture: amd64
Essential: no
Depends: compss-engine
Maintainer: COMPSs Support <support-compss@bsc.es>
Description: The BSC COMP Superscalar Runtime Cloud Resources.
