Package: compss-engine
Version: 
Priority: optional
Architecture: all
Essential: no
Depends: openjdk-8-jdk, graphviz, xdg-utils
Replaces: compss-worker
Maintainer: Cristian Ramon-Cortes <cristian.ramoncortes@bsc.es>
Description: The BSC COMP Superscalar Engine.
